@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

.rt-TooltipArrow {
    fill: var(--orange-11) !important;
}

:root {
    --font-fira-code: 'Fira Code', monospace;
}

.rt-CheckboxGroupItemCheckbox[data-state='checked']::before {
    background-color: #486c92 !important;
}

.rt-CheckboxGroupItemCheckbox[data-state='unchecked']:hover::before{
    background-color: #1b2937 !important;
}

.rt-BaseCheckboxIndicator[data-state='checked'] {
    fill: white !important;
}

.radix-themes {
    --default-font-family: var(--font-fira-code) !important;
}
